body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #99ff84;
    color: #333;
 }

 #INICIAL {
    background-color: #99ff84;
    color: #000000;
    text-align: center;
    padding: 30px 0;
 }

#INICIAL h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-size: 48px; 
}

#INICIAL p {
    font-family: 'Lora', serif;
    font-size: 24px;
}


 #rodape {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
 }

#MUSI {
    font-size: 24PX;
text-align: center;
font-style: italic;
line-height:  1.5;
background-color: #fff;
border: 2px dashed #bdc3c7;
border-left: 10px solid #2ecc71;
padding: 20px;
margin-bottom: 20px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
border-radius: 5px;
max-width: 900px;
margin: 30px auto;
border: 1px solid #ddd;
padding: 30px;
border-radius: 50px;
}

#parag {
    background-color: #b3ffa3;
    color: #000000;
    text-align: center;
    border: 2px dashed #bdc3c7;
    border-left: 10px solid #2ecc71;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    max-width: 1500px;
    margin: 30px auto;
    border: 1px solid #ddd;
    padding: 30px; ;
 border-radius: 50px;
}



#parag p {
    
    font-size: 30px;
    text-align: center;
    line-height: 2.5;
    margin: 30px auto;
border: 1px  ;
padding: 30px;
}
button {
    font-size: 55px;
    font-family: 'Lora', serif;
    background-color: #1eb600;
    color: rgb(255, 255, 255);

}

a {
   color: #000000;
}

#trecho {
font-size: 30PX;
background-color: #d1d1d1;
}



